<div class="ai-assistant-container">
  <!-- Canvas area (left side) -->
  <div class="canvas-area">
    <div class="prompt-box">
      <h1 class="responsive-title">Inserisci il prompt nel box qua sotto.</h1>
      <textarea class="prompt-textarea"
        [(ngModel)]="prompt"
        placeholder="Inserisci qui il prompt"
        rows="6"
      ></textarea>
    </div>
  </div>

  <!-- Button panel (right side) -->
  <div class="button-panel">
    <select class="btn btn-white" name="company-name" [(ngModel)]="filterCompany" (ngModelChange)="updateCompany($event)">
      <option value="" disabled>Seleziona azienda</option>
       @for (company of companies; track company.id) {
        <!-- aggiungo anche l'id nel valore, ma rimane name -->
        <option [value]="company.id">
           {{ company.id }} - {{ company.name }}
        </option>
      }
      
    </select>
    <button class="btn btn-white" (click)="navigateToStoricoPrompt()">Storico</button>
    
    <select class="btn btn-white" [(ngModel)]="selectedTone">
      <option value="" disabled>Seleziona tono</option>
      @for (tone of tones; track tone.name) {
        <option [value]="tone.name">
          {{ tone.name }}
        </option>
      }
    </select>
    
    <button class="btn btn-white" (click)="generaImmagine()">Genera Immagine</button>
    <button class="btn btn-green" (click)="genera()">Genera</button>
  </div>
</div>